		<header class='blue-grey darken-1'>
			
			<div class="navbar">
			 	<nav>
			    <div class="nav-wrapper blue-grey darken-1">
			    	<ul id="nav-mobile" class="right">
			        <li><a href="/">Home</a></li>
			        <li><a href="/">Projects</a></li>
			        <li><a href="/">Academics</a></li>
			        <li><a href="/">Resume</a></li>
			        <li><a href="/">Blog</a></li>
				    </ul>
				  </div>
			  </nav>
			</div>

			<div class="row"
				<div class="col s12 m4 l4">
					<div class="panel" style="height: 540px;">
						<div class="bg-img">
							<h1>{{ site.author.name }}</h1>
							<h3>{{ site.author.description }}</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="header-icons">
				<div class="col s12 m4 l4">
  				<div class="icon-image" style="blue-grey darken-4">
  					<a href="{{ site.social-media.github }}"><img src="images/logo_github_white.png"></a>
  					<a href="{{ site.social-media.linkedin }}"><img src="images/logo_linkedin_white.png"></a>
  					<a href="{{ site.social-media.facebook }}"><img src="images/logo_fb_white.png"></a>
  					<a href="{{ site.social-media.instagram }}"><img src="images/logo_instagram_white.png"></a>
  				</div>
  			</div>
			</div>

	  </header>
