---
layout: default
title: Work Single
---

<div class="work-single-flex js-fullheight">
	<div class="col-half js-full-height work-img" style="background-image: url(images/work-1.jpg);"></div>
	<div class="col-half js-fullheight">
		<div class="display-t js-fullheight">
			<div class="display-tc js-fullheight">
				<div class="work-desc">
					<h2>Work Dummy Name</h2>
					<p>When she reached the first hills of the Italic Mountains, she had a last view back on the
						skyline of her hometown Bookmarksgrove</p>
					<p class="button-btn"><a href="#" class="btn-preview">Live Preview</a> or <a href="#"
							class="btn-download">Download</a></p>
				</div>
			</div>
		</div>
	</div>
</div>